body {
	width: 60%;
	margin: 0 auto;
	font-family: microsoft yahei;
}
ul {
	display: none;
}
li {
    list-style: none;
    width: 18%;
	height: 200px;
	text-align: center;
	line-height: 200px;
	font-size: 30px;
	margin: 1%;
	background-color: #F5DEB3;
	float: left;
}
#pageIt {
	position: absolute;
	left: 30%;
    top: 700px;
}
a {
	text-decoration: none;
	margin-left: 15px;
	font-size: 24px;
	cursor: pointer;
	color: black;
}
.green {
	color: #71C671;
}
#previous {
	color: #71C671;
	margin-left: 15px;
	font-size: 24px;
	cursor: pointer;
}
#next {
	color: #71C671;
	margin-left: 15px;
	font-size: 24px;
	cursor: pointer;
}